body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #220d38;
    background: linear-gradient(180deg, rgba(34, 13, 56, 1) 0%, rgba(13, 17, 23, 1) 24%, rgba(13, 17, 23, 1) 100%);
    min-height: 100vh;
}



/* Başlangıç butonları */
.start-page-button-container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 88vh;
}

.start-page-buttons {
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #f1c40f;
    background-color: transparent;
    color: #f1c40f;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 8px;
    min-width: 250px;
}

.start-page-buttons:hover {
    background-color: #f1c40f;
    color: #0d1117;
}